
    .modal_forgot {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,.4);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        user-select: none;

        &-modal_content {
            padding: 20px;
            border-radius: 12px;
            background-color: white;
            width: fit-content;
            max-width: 1000px;
            height: fit-content;
            &-header {
                display: flex;
                text-align: center;
                justify-content: space-between;
                padding-bottom: 20px;
            }
        }
    }
